.Story {
    border-radius: 50px;
    display: inline-block;
    margin: 8px;
    padding: 0px 0.50vw;
}

.Story img {
    max-width: 70px;
    max-height: 70px;
    display: block;
    border-radius: 40px;
    padding: 3px;
    border: 4px solid rgb(0, 0, 143);
}

.Story p {
    display: block;
    text-align: center;
}

.Stories {
    background-color: rgb(233, 233, 233);
    width: 100%;
    height: 17vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}